In [1]:
var1= (1,2,3,4)

In [8]:
print(var1[0:3],var1[-1])

(1, 2, 3) 4

## ques1

In [10]:
tuple=(1,2,3)

In [11]:
tuple

(1, 2, 3)

## ques2

In [51]:
tuple1=(1,"v","VIPIN")

In [52]:
tuple1

(1, 'v', 'VIPIN')

## ques3

In [28]:
tuple3=(1,2,3)

In [29]:
tuple3=[1]

In [30]:
tuple3

[1]

## ques4

In [34]:
tuple4=(1,2,3,4)

In [37]:
print(tuple4)

(1, 2, 3, 4)

In [40]:
v1,v2, *v3=tuple4

In [41]:
print(v1,v2,v3)

1 2 [3, 4]

##  ques5

In [42]:
tuple5=(1,2,3)

In [43]:
print(tuple5)

(1, 2, 3)

In [44]:
tuple6 = tuple5 + (9,)

In [46]:
print(tuple6)

(1, 2, 3, 9)

## ques6

In [53]:
tuple3=("vipin","chaudhary")

In [54]:
str= ''.join(tuple3)

In [55]:
print(str)

vipinchaudhary

## ques7